<section class="error">
  <section class="error-page">
     <p class="error-med"  ><%= t :error_med %></p>
     <p class="error-big"  ><%= t :not_found_html %></p>
     <p class="error-small"><%= t :error_explanation %></p>
  </section>
</section>