/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require_self
 */

textarea.monospaced-field {
  font-family: monospace;
  height:600px !important;
  max-height:600px !important;
  resize: none;
}

span.fa-lock {
  color: #FF7518; /* Orange  */

  font-size:0.6em;
}

h1 > span.fa-lock {
  font-size:0.3em;
}