<header class="page-header">
  <%= link_to t(:delete), [:admin,  @site], method: :delete, data: {confirm: t(:confirm)}, class: 'btn btn-danger pull-right' %>
  <h1><%= icon :cloud %> <%= @site.name %></h1>
</header>

<%= render 'form' %>